<footer>
  <p>  Diplomatura en Desarrollo Full Stack con Javascript - Modulo Backend con NodeJS - Nodo Tecnológico 2025</p>
  <p>Trabajo resuelto por <a href="https://github.com/AxelClosas" target="_blank">Axel Closas</a></p>
</footer>