<form class="main__form" action="/api/heroes/<%= superheroe._id %>?_method=DELETE" method="POST">
  <p>Estás seguro que deseas eliminar a <strong>
      <%= superheroe.nombreSuperHeroe %>
    </strong> de tu lista de Superhéroes?</p>

  <div class="form__botones">
    <button class="form__btnEliminar" type="submit">Eliminar</button>
    <button class="form__btnCancelar" type="button" id="btnCancelar">Cancelar</button>
  </div>
</form>
<script>
  const btnCancelar = document.querySelector("#btnCancelar")
  btnCancelar.addEventListener('click', () => {
    // console.log(location.origin.concat('/api','/heroes'))
    window.location.href = location.origin.concat('/api/heroes')
  })
</script>